<header class="top">
  <div class="warpper">
    <!--头-->
    <div class="header">
      <!--头部标签-->
      <div class="header_top">
        <img src="/img/logo.png" alt="">
        <!--右边-->
        <div class="header_top_right">
          <!--切换城市-->
          <div class="top_right_city">
            <a class="top_right_address">
              <img src="/img/citypoint.png" alt="">
              <span>北京</span>
            </a>
            <a class="change_city" href="#">切换城市</a>
          </div>
          <!--列表-->
          <div class="top_right_items">
            <a class="frist" href="#">
              <span>首页</span>
            </a>
            <a href="#">
              <span>到位APP</span>
            </a>
            <a href="#">
              <span>服务商</span>
            </a>
            <a href="#">
              <span>商家入驻</span>
            </a>
            <a href="#">
              <span>风物APP</span>
            </a>
            <a href="#">
              <span>关于我们</span>
            </a>
            <a href="#" class="getin">
              <span>商家登录</span>
            </a>
          </div>
        </div>

      </div>
    </div>

  </div>
</header>
