<div class="items_one">
  <div class="items">
    <div class="items_top">
      <p class="items_top_name">家庭保洁</p>
      <div class="items_top_classify">
        <a href="#">小时工</a>
        <a href="#">开荒保洁</a>
        <a href="#">擦玻璃</a>
        <a href="#">深度保洁</a>
        <a href="#">杀虫除螨</a>
        <a href="#">家居养护</a>
      </div>
      <a class="items_top_more" href="#">更多服务></a>
    </div>
    <div class="items_items">
      <a class="items_wrapper" href="#">
        <img src="/img/items01.jpg" alt="">
        <p class="items_items_name">家庭保洁</p>
        <p class="items_items_instructions">
          下单须知：1.您购买的是家庭保洁服务，下单后请保持...
        </p>
        <div class="items_items_price">
          <div class="items_price_number">
            <span class="price_number">25</span>
            <span class="price_time">元/小时</span>
          </div>
          <span class="items_price_details">查看详情</span>
        </div>
      </a>
      <a class="items_wrapper" href="#">
        <img src="/img/items02.jpg" alt="">
        <p class="items_items_name">家庭保洁</p>
        <p class="items_items_instructions">
          下单须知：1.您购买的是家庭保洁服务，下单后请保持...
        </p>
        <div class="items_items_price">
          <div class="items_price_number">
            <span class="price_number">25</span>
            <span class="price_time">元/小时</span>
          </div>
          <span class="items_price_details">查看详情</span>
        </div>
      </a>
      <a class="items_wrapper" href="#">
        <img src="/img/items03.jpg" alt="">
        <p class="items_items_name">家庭保洁</p>
        <p class="items_items_instructions">
          下单须知：1.您购买的是家庭保洁服务，下单后请保持...
        </p>
        <div class="items_items_price">
          <div class="items_price_number">
            <span class="price_number">25</span>
            <span class="price_time">元/小时</span>
          </div>
          <span class="items_price_details">查看详情</span>
        </div>
      </a>
      <a class="items_wrapper" href="#">
        <img src="/img/items04.jpg" alt="">
        <p class="items_items_name">家庭保洁</p>
        <p class="items_items_instructions">
          下单须知：1.您购买的是家庭保洁服务，下单后请保持...
        </p>
        <div class="items_items_price">
          <div class="items_price_number">
            <span class="price_number">25</span>
            <span class="price_time">元/小时</span>
          </div>
          <span class="items_price_details">查看详情</span>
        </div>
      </a>
      <a class="items_wrapper" href="#">
        <img src="/img/items05.jpg" alt="">
        <p class="items_items_name">家庭保洁</p>
        <p class="items_items_instructions">
          下单须知：1.您购买的是家庭保洁服务，下单后请保持...
        </p>
        <div class="items_items_price">
          <div class="items_price_number">
            <span class="price_number">25</span>
            <span class="price_time">元/小时</span>
          </div>
          <span class="items_price_details">查看详情</span>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="items_two">
  <div class="items">
    <div class="items_top">
      <p class="items_top_name">家庭保洁</p>
      <div class="items_top_classify">
        <a href="#">小时工</a>
        <a href="#">开荒保洁</a>
        <a href="#">擦玻璃</a>
        <a href="#">深度保洁</a>
        <a href="#">杀虫除螨</a>
        <a href="#">家居养护</a>
      </div>
      <a class="items_top_more" href="#">更多服务></a>
    </div>
    <div class="items_items">
      <a class="items_wrapper" href="#">
        <img src="/img/items01.jpg" alt="">
        <p class="items_items_name">家庭保洁</p>
        <p class="items_items_instructions">
          下单须知：1.您购买的是家庭保洁服务，下单后请保持...
        </p>
        <div class="items_items_price">
          <div class="items_price_number">
            <span class="price_number">25</span>
            <span class="price_time">元/小时</span>
          </div>
          <span class="items_price_details">查看详情</span>
        </div>
      </a>
      <a class="items_wrapper" href="#">
        <img src="/img/items02.jpg" alt="">
        <p class="items_items_name">家庭保洁</p>
        <p class="items_items_instructions">
          下单须知：1.您购买的是家庭保洁服务，下单后请保持...
        </p>
        <div class="items_items_price">
          <div class="items_price_number">
            <span class="price_number">25</span>
            <span class="price_time">元/小时</span>
          </div>
          <span class="items_price_details">查看详情</span>
        </div>
      </a>
      <a class="items_wrapper" href="#">
        <img src="/img/items03.jpg" alt="">
        <p class="items_items_name">家庭保洁</p>
        <p class="items_items_instructions">
          下单须知：1.您购买的是家庭保洁服务，下单后请保持...
        </p>
        <div class="items_items_price">
          <div class="items_price_number">
            <span class="price_number">25</span>
            <span class="price_time">元/小时</span>
          </div>
          <span class="items_price_details">查看详情</span>
        </div>
      </a>
      <a class="items_wrapper" href="#">
        <img src="/img/items04.jpg" alt="">
        <p class="items_items_name">家庭保洁</p>
        <p class="items_items_instructions">
          下单须知：1.您购买的是家庭保洁服务，下单后请保持...
        </p>
        <div class="items_items_price">
          <div class="items_price_number">
            <span class="price_number">25</span>
            <span class="price_time">元/小时</span>
          </div>
          <span class="items_price_details">查看详情</span>
        </div>
      </a>
      <a class="items_wrapper" href="#">
        <img src="/img/items05.jpg" alt="">
        <p class="items_items_name">家庭保洁</p>
        <p class="items_items_instructions">
          下单须知：1.您购买的是家庭保洁服务，下单后请保持...
        </p>
        <div class="items_items_price">
          <div class="items_price_number">
            <span class="price_number">25</span>
            <span class="price_time">元/小时</span>
          </div>
          <span class="items_price_details">查看详情</span>
        </div>
      </a>
    </div>
  </div>
  <div class="line"></div>
</div>